/* font styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* nav styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar ul li {
  list-style: none;
  margin-right: 48px;
}

.navbar li a {
  text-decoration: none;
  color: #8987a1;
}

.navbar li strong {
  color: #252432;
}

/* Responsive styles for mobile device */

@media screen and (max-width: 576px) {
  .navbar {
    margin: 60px 0px 16px 16px;
    max-width: 361px;
    max-height: 38px;
  }
  .navbar img {
    width: 63px;
    height: 38px;
  }
  .navbar ul {
    padding: 0px;
    margin: 0px;
  }

  .navbar ul li {
    visibility: hidden;
    margin-right: 0px;
    margin-left: 0px;
  }

  .navbar-cart {
    margin: 0px;
  }
}
